*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: arial;
}
main{
    flex-flow: column nowrap;
    height: 100vh;
}
section{
    flex-grow: 1;
}
.menu{
    display: flex;
    flex-flow: row wrap;
    height: 100vh;

}
.retangulo:not(:nth-child(-n+2)):hover, .retangulo:first-child{
    background-color: black;
    color: white;
}
.retangulo{
    display: block;
}
.retangulo{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    flex: 1 1 48%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.retangulo p{
    margin: 0 15px 0 15px;
}
.retangulo:first-child{
    font-weight: bold;
    font-size: 1.2em;
}
.retangulo:nth-child(2){
    font-size: 0.7em;
}
.quadrado:nth-child(2) .retangulo:nth-child(1):hover{
    color: #000;
    background-color: #fff;
}
.content{
    /*display: flex;
    flex-flow: column nowrap;
    align-items: center;*/
    overflow: auto;
}
.content div{
    margin: 30px;
}
article{
    height: 100vh;
    border-bottom: 1px solid #000;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.botao{
    padding: 5px 20px 5px 20px;
    color: #000;
    background-color: #fff;
    position: absolute;
    right: -10px;
    top: 50%;
    text-decoration: none;
    transform:rotate(-90deg) ;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
.botao:hover{
    background-color: #000;
    color: #fff;
}

@media only screen and (min-width: 768px){
    main{
        display: flex;
        flex-flow: row nowrap;
    }
    .menu .quadrado{
        flex: 1 1 48%;
        flex-flow: column wrap;
    }
    section{
        flex: 1 1 50%;
    }
    .retangulo p{
        font-size: 2em;
    }
}