*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Jost';

}
main{
    flex-flow: column nowrap;
    height: 100vh;
}
section{
    flex-grow: 1;
}
.menu{
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    width: 100vw;

}
.retangulo:not(:nth-child(-n+2)):hover, .retangulo:first-child, .miniquad:hover{
    background-color: black;
    color: white;
}
.retangulo:nth-last-child(2):hover, .retangulo:last-child:hover{
    background-color: white;
    color: #000;
}
.retangulo{
    display: block;
}
.retangulo{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    flex: 1 1 48%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.retangulo p{
    margin: 0 15px 0 15px;
}
.retangulo:first-child{
    font-weight: bold;
    font-size: 1.2em;
}
.retangulo:nth-child(2){
    font-size: 0.7em;
}
.miniquad{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}
.miniquad:first-child{
    border-right: 1px solid #000;
}

.content{
    /*display: flex;
    flex-flow: column nowrap;
    align-items: center;*/
    overflow: auto;
}
.content div{
    margin: 15px;
    font-size: 0.9em;
}
article{
    height: 100vh;
    border-bottom: 1px solid #000;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}
.botao{
    padding: 5px 20px 5px 20px;
    color: #000;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    text-decoration: none;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    text-align: center;
}
.botao:hover{
    background-color: #000;
    color: #fff;
}

.coluna{
    font-size: 0.9em;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    height: 88%;
    width: 92%;

}
.coluna p{
    margin: 0 0px 10px 5px;
    width: 50%;
    font-size: 0.9em;
}
pre{
    text-align: center;
}

@media only screen and (min-width: 768px){
    main{
        display: flex;
        flex-flow: row nowrap;
    }
    section{
        flex: 1 1 50%;
    }
    .retangulo p{
        font-size: 2em;
    }
    .retangulo .miniquad p{
        font-size: 1em;
    }
    .botao{
        display: none;
    }
    .content div{
        margin: 30px;
        font-size: 1em;
    }
    .coluna{
        height: 70%;
        font-size: 0.9em;
}